<section class="content">
   <div class="container-fluid">
     <div class="row">
       <div class="col-12">

   

         <div class="card">
           <div class="card-header">
             <h1 class="card-title"><b>Bahan Baku</b></h1>
             <button type="button" class="btn btn-success btn-sm float-right" data-toggle="modal" data-target="#modal-lg">
              <b>+ </b> Tambah Item Bahan Baku
            </button>
           </div>


           <div class="card-body">
            <table id="example1" class="table table-bordered table-striped">
              <thead>
              <tr>
                <th style="width: 120px">No Bahan Baku</th>
                <th>Nama Bahan Baku</th>
                <th>kategori</th>
                <th>Satuan</th>
                <th>Keterangan</th>
                <th style="width: 90px">Actions</th>
              </tr>
              </thead>
              <tbody>
                <% item.forEach(function(item) {%>
                  <tr>
                    <td><%= item.no_item %></td>
                    <td> <%= item.nama_item %></td>
                    <td> <%= item.kategori %></td>
                    <td> <%= item.satuan %></td>
                    <td> <%= item.ket %></td>
                    <td>
                      <div class="row col-sm-12 text-center">
                        <div class="col-sm-6">
                          <button type="button" class="btn btn-default btn-sm" id="identifyingClass" data-toggle="modal" data-target="#Formedit"
                          data-iditem="<%= item.id_item %>"
                          data-noitem="<%= item.no_item %>"
                          data-namaitem="<%= item.nama_item %>"
                          data-kategori="<%= item.kategori %>"
                          data-satuan="<%= item.satuan %>"
                          data-ket="<%= item.ket %>"                          
                          ><i class="nav-icon fas fa-edit"></i></button>
                        </div>
                        <div class="col-sm-6">
                          <form action="/item/delete" method="post">
                            <input type="hidden" name="id_item" value="<%= item.id_item %>" />
                          <button type="submit" class="btn  btn-danger btn-sm float-right"><i class="fas fa-trash"></i></button>
                        </form>
                         
                      </div>
                      </div>
                      
                    </td>
                  </tr>
                  <% }) %>
              </tbody>
            </table>
          </div>



           <div class="modal fade" id="modal-lg">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Tambah Bahan Baku</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/item/create" method="post">
                      <div class="col-sm-12 ">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row">
                              <div class="col-sm-3">
                                <div class="form-group">
                                 
                                  <small for="">No Bahan Baku</small> 
                                  <input type="text" class="form-control" placeholder="Nomor Bahan Baku" name="no_item">
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div class="form-group">
                                  <small for="">Nama Bahan Baku</small> 
                                  <input type="text" class="form-control" placeholder="Nama Bahan Baku" name="nama_item" required>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <small for="">Kategori</small> 
                                  <input type="text" class="form-control" placeholder="Kategori" name="kategori" required>
                                </div>
                              </div>  
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <small for="">Satuan</small> 
                                  <input type="text" class="form-control" placeholder="Satuan" name="satuan">
                                </div>
                              </div>

                            </div>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="form-group">
                          <small for="">Keterangan</small> 
                          <div class="input-group mb-12">
                            <textarea class="form-control" name="ket" cols="100" rows="2" placeholder="Keterangan"></textarea>
                          </div>
                        </div>
                        </div>
                      </div>
                      </div>
                                        
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                  <button type="submit" class="btn btn-primary float-right">Simpan</button>  
                </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
          </div>
       
           <!-- /.card-header -->
           

           <div class="modal fade" id="Formedit">  
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Edit Bahan Baku</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form action="/item/update" method="post">
                      <div class="col-sm-12 ">
                        <div class="row">
                          <div class="col-sm-12">
                            <div class="row">
                              <div class="col-sm-3">
                                <div class="form-group">
                                 
                                  <small for="">No Bahan Baku</small> 
                                  <input type="hidden" name="id_item" id="id_item">
                                  <input type="text" class="form-control" placeholder="Nomor Bahan Baku" name="no_item" id="no_item">
                                </div>
                              </div>
                              <div class="col-sm-5">
                                <div class="form-group">
                                  <small for="">Nama Bahan Baku</small> 
                                  <input type="text" class="form-control" placeholder="Nama Bahan Baku" name="nama_item" id="nama_item" required>
                                </div>
                              </div>
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <small for="">Kategori</small> 
                                  <input type="text" class="form-control" placeholder="Kategori" name="kategori" id="kategori" required>
                                </div>
                              </div>  
                              <div class="col-sm-2">
                                <div class="form-group">
                                  <small for="">Satuan</small> 
                                  <input type="text" class="form-control" placeholder="Satuan" name="satuan" id="satuan">
                                </div>
                              </div>

                            </div>
                          </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="row">
                          <div class="form-group">
                          <small for="">Keterangan</small> 
                          <div class="input-group mb-12">
                            <textarea class="form-control" name="ket" id="ket" cols="100" rows="2" placeholder="Keterangan"></textarea>
                          </div>
                        </div>
                        </div>
                      </div>
                      </div>
                                        
                </div>
              
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Tutup</button>
                <button type="submit" class="btn btn-primary float-right">Simpan</button>  
              </form>
                </div>
              </div>
              <!-- /.modal-content -->
            </div>
           <!-- /.card-body -->
         </div>
         <!-- /.card -->
       </div>
       <!-- /.col -->
     </div>
     <!-- /.row -->
   </div>
   <!-- /.container-fluid -->
 </section>
 

 
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<script>
 
 $(document).on('click','#identifyingClass',function(){
  //  event.preventDefault();
    var iditm =  $(this).data('iditem');
    var noitem = $(this).data('noitem');
    var namaitem = $(this).data('namaitem');
    var satuan = $(this).data('satuan');
    var idkat = $(this).data('kategori');
    var ket = $(this).data('ket');
    
    document.getElementById("id_item").value = iditm;
    document.getElementById("no_item").value = noitem;
    document.getElementById("nama_item").value = namaitem;
    document.getElementById("satuan").value = satuan;
    document.getElementById("kategori").value = idkat;
    document.getElementById("ket").value = ket;
    
    
  });
   
</script>


 
 