<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Senang Jaya Abadi | Admin </title>

  <!-- Google Font: Source Sans Pro -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/admintemp/plugins/fontawesome-free/css/all.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Tempusdominus Bootstrap 4 -->
  <link rel="stylesheet" href="/admintemp/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css">
  <!-- iCheck -->
  <link rel="stylesheet" href="/admintemp/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
  <link rel="stylesheet" href="/admintemp/plugins/select2/css/select2.min.css">
  <link rel="stylesheet" href="/admintemp/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

  <link rel="stylesheet" href="/admintemp/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/admintemp/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <link rel="stylesheet" href="/admintemp/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
 
  <!-- Theme style -->
  <link rel="stylesheet" href="/admintemp/dist/css/adminlte.min.css">
  <!-- overlayScrollbars -->
  <link rel="stylesheet" href="/admintemp/plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/admintemp/plugins/daterangepicker/daterangepicker.css">
  
  <link rel="icon" href="/admintemp/dist/img/sja.png" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/admintemp/plugins/toastr/toastr.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed sidebar-collapse">
<script>
 
  
</script>

<div class="wrapper">

  <!-- Navbar -->
  <nav class="main-header navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a href="#" class="nav-link">Welcome <%= username %></a>
      </li>
   
    </ul>

    

    <!-- Right navbar links -->
    <ul class="navbar-nav ml-auto">
      <!-- Messages Dropdown Menu -->
    
    
      <li class="nav-item">
        <a class="nav-link" data-widget="fullscreen" href="#" role="button">
          <i class="fas fa-expand-arrows-alt"></i>
        </a>
      </li>
    </ul>
  </nav>
  <!-- /.navbar -->

  <!-- Main Sidebar Container -->
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link">
      <img src="/admintemp/dist/img/sja.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
      <span class="brand-text font-weight-light" style="font-family: Racing Sans One;font-size: 18px;">SENANG JAYA ABADI</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
 

      <!-- SidebarSearch Form -->
      

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
               <li class="nav-item">
                <a href="#" class="nav-link">
                  <!-- <i class="nav-icon fas fa-gear"></i> -->
                  <i class="nav-icon fas fa-tachometer-alt"></i>
                  <p>
                    Master Data
                    <i class="right fas fa-angle-left"></i>
                  </p>
                </a>
    
                <ul class="nav nav-treeview">
                  <li class="nav-item">
                    <a href="/item" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Bahan Baku</p>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a href="/supplier" class="nav-link">
                      <i class="far fa-circle nav-icon"></i>
                      <p>Supplier</p>
                    </a>
                  </li>
    
                
                </ul>
              </li>
          
          <li class="nav-item">
            <a href="#" class="nav-link">
              <!-- <i class="nav-icon fas fa-gear"></i> -->
              <ion-icon class="nav-icon fas" name="cash-outline"></ion-icon>
              <p>
                Pembelian
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>

            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>Invoice Pembelian</p>
                </a>
              </li>

            
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="nav-icon fas fa-edit"></i>
              <p>
                Laporan
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
          
            </ul>
          </li>

          <li class="nav-header"></li>
          <li class="nav-item">
            <a href="/auth/signout" class="nav-link">
              <ion-icon class="nav-icon far text-danger" name="power"></ion-icon>
              <p class="text">Logout</p>
            </a>
          </li>
        
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
    </div>
    <!-- /.content-header -->
    <section class="content">
      <div class="container-fluid">
        <%- body  %>
      </div>
      </section>


    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer" style="font-size: 12px;">
    <strong>Intellectual property &copy; <a href="https://www.linkedin.com/in/aman-sejahtera-gulo-7896298b/">Aman_sj</a> 2024.</strong>  | Developed with AdminLTE.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
      <b>APPS Version</b> 1.0.0
    </div>
  </footer>


  <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->

<!-- jQuery -->
<script src="/admintemp/plugins/jquery/jquery.min.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/admintemp/plugins/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button)
</script>
<!-- Bootstrap 4 -->

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
<script src="/admintemp/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- jQuery Knob Chart -->
<script src="/admintemp/plugins/jquery-knob/jquery.knob.min.js"></script>
<!-- daterangepicker -->
<script src="/admintemp/plugins/moment/moment.min.js"></script>
<script src="/admintemp/plugins/daterangepicker/daterangepicker.js"></script>
<!-- Tempusdominus Bootstrap 4 -->
<script src="/admintemp/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
<!-- Summernote -->
<script src="/admintemp/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
<script src="/admintemp/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="/admintemp/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
<script src="/admintemp/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
<script src="/admintemp/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
<script src="/admintemp/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
<script src="/admintemp/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
<script src="/admintemp/plugins/jszip/jszip.min.js"></script>
<script src="/admintemp/plugins/pdfmake/pdfmake.min.js"></script>
<script src="/admintemp/plugins/pdfmake/vfs_fonts.js"></script>
<script src="/admintemp/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
<script src="/admintemp/plugins/datatables-buttons/js/buttons.print.min.js"></script>
<script src="/admintemp/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
<script src="/admintemp/plugins/select2/js/select2.full.min.js"></script>
<script src="/admintemp/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>


<script src="/admintemp/plugins/toastr/toastr.min.js"></script>
<!-- AdminLTE App -->
<script src="/admintemp/dist/js/adminlte.js"></script>

<% if (typeof success_msg !=='undefined') { %> <script>toastr.success('<%= success_msg %>');</script> <% } %>
<% if (typeof warning_msg !== 'undefined') {%> <script>toastr.warning('<%= warning_msg%>');</script><% } %>
<% if (typeof error_msg !== 'undefined') {%> <script>toastr.error('<%= error_msg%>');</script><% } %>

<script>
  $(function () {

    
    $('.select2').select2()
    $('.select3').select2()
    $('.select4').select2()

    //Initialize Select2 Elements                                                                                                                                                                                                                                                                                                                                                                                                                           
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    $("#example1").DataTable({
      "responsive": true, 
      "lengthChange": true, 
      "autoWidth": true,
      "buttons": [ "csv", "pdf", "print"],
      "columnDefs": [{ "width": '1%' , "targets": '6' }],
      "pageLength": 10,}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $("#fortiketselesai").DataTable({
      "responsive": true, 
      "lengthChange": true, 
      "autoWidth": true,
      "columnDefs": [{ "width": '1%' , "targets": '6' }],
      "pageLength": 10,}).buttons().container().appendTo('#fortiketselesai_wrapper .col-md-6:eq(0)');

      $("#example8").DataTable({
      "responsive": true, 
      "lengthChange": true, 
      "autoWidth": true,
      "buttons": [ "csv", "pdf", "print"],
      "columnDefs": [{ "width": '1%' , "targets": '6' }],
      "pageLength": 10,}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
    

      $("#example81").DataTable({
      "responsive": true, 
      "lengthChange": true, 
      "ordering": true,

      "autoWidth": true,
      "buttons": [ "csv", "pdf", "print"],
      "columnDefs": [{ "width": '1%' , "targets": '6' }],
      "pageLength": 10,}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

      $('#example2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "columnDefs": [
      {
        "targets": 0, // Target kolom pertama (No Sparepart)
        "orderData": [0], // Urutkan berdasarkan kolom ini
      },
    ],
    "order": [[0, 'asc']],
      "pageLength": 5
    });
    $('#examplez2').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "columnDefs": [
      {
        "targets": 0, // Target kolom pertama (No Sparepart)
        "orderData": [0], // Urutkan berdasarkan kolom ini
      },
    ],
    "order": [[0, 'asc']],
      "pageLength": 5
    });
    $('#example2a').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "pageLength": 2
    });
    $('#example2b').DataTable({
      "paging": true,
      "lengthChange": false,
      "searching": false,
      "ordering": true,
      "info": true,
      "autoWidth": false,
      "responsive": true,
      "pageLength": 2
    });
    $("#example3").DataTable({
      "responsive": true, "lengthChange": true, "autoWidth": true,
      "buttons": [ "csv", "pdf", "print"],"pageLength": 10,
    }).buttons().container().appendTo('#example3_wrapper .col-md-6:eq(0)');

    var tablez = $('#paymentTable').DataTable({
        dom: 'Bfrtip',
        buttons: [
            {
                extend: 'excelHtml5',
                title: 'Data_Payment'
            }
        ]
    });

  });


</script>

</body>
</html>
<!-- "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"] -->